<template>
    <b-container fluid class="bg-grey clients-bg">
      <b-container class="bg-v proj">
        <b-row style="padding-top: 75px;">
          <b-col sm="12" lg="4" class="header-block">
            <p class="header-block_text text-shadow"><span class="main-color">C</span>lients</p>
          </b-col>
          <b-col sm="12" lg="8">
            <b-row>
              <b-col sm="12" md="5" lg="7">
                <p class="header-block_second-text">
                  <span class="main-color">Наши</span> клиенты.... сотрудников компании сосредоточены в области производства ПО для сегментов B2B и B2C, создании информационных вэб-ресурсов, и разработке решений сферы e-commerce.
                </p>
              </b-col>
              <b-col sm="5" class="with_number">
                <p class="header-block_numbers">
                  45
                </p>
                <span class="header-block_numbers-text">клиентов<br> лидеров рынка</span>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
        <b-row>
            <b-col cols="12">
              <div class="slider">
                <div class="slide" v-for="client in clients">
                  <b-img :src="require('../../assets/'+client.logo)"/>
                </div>
              </div>
            </b-col>
        </b-row>
      </b-container>
    </b-container>
</template>

<script>

export default {
  data(){
    return{
      clients: [
        {
          logo: 'addidas.png'
        },
        {
          logo: 'addidas.png'
        },
        {
          logo: 'addidas.png'
        },
        {
          logo: 'addidas.png'
        },
        {
          logo: 'addidas.png'
        }
      ]
    }
  },
  created(){
    setTimeout(this.sliderInit, 0)
  },
  methods:{
    sliderInit: function(){
     $('.slider').slick({
        infinite: true,
        speed: 300,
        slidesToShow: 4,
        slidesToScroll: 1,
        arrows: false,
        dots: false,
        autoplay: true,
        autoplaySpeed: 3000
      });
    }
  }
}


</script>
<style scoped>
  .slider{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .slide{
    display: flex !important;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
  }
  .slide:hover{
    opacity: 1;
  }
  .bg-grey{
    background-color: #f7f7fe;
  }
  .with_number{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .bg-v{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header-block_text{
    margin: 0;
    font-size: 90px;
    font-weight: 700;
    line-height: 1;
  }
  .header-block_second-text{
    margin-top: 25px;
  }
  .header-block_numbers{
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    line-height: 1;
  }
  .header-block_numbers-text{
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
  }
  @media screen and (max-width: 1200px){
    .header-block_text{
      font-size: 75px;
    }
  }
  @media screen and (max-width: 992px){
    .with_number{
      position: absolute;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      right: 70px;
      top: -70px;
    }
    .slide img{
      width: 75%;
    }
  }
  @media screen and (max-width: 768px){
    .header-block_text{
      font-size: 70px;
    }
    .header-block_second-text{
      margin-top: 100px;
    }
  }
  @media screen and (max-width: 576px){
    /*.header-block_text{
      margin-top: 100px;
    }*/
    .with_number{
      display: none;
    }
  }
</style>
