<template>
	<b-container fluid>
    	<b-container>
    		<b-row style="padding-top: 75px;">
	          <b-col sm="12" lg="4" class="header-block">
	            <p class="header-block_text text-shadow"><span class="main-color">C</span>ontacts</p>
	          </b-col>
	        </b-row>
    		<!-- <b-row>
    			<b-col class="text-center">
    				<p class="contacts_head-text text-shadow">VOSHOD DEVELOPMENT</p>
    			</b-col>
    		</b-row> -->
    		<b-row>
    			<b-col sm="12" md="6" class="text-center contacts_logo">
    				<b-img :src="require('../../assets/logo_EN.png')"/>
    				<!-- <div class="social">
    					<a href="" class="fb">
    						<svg 
							 xmlns="http://www.w3.org/2000/svg"
							 xmlns:xlink="http://www.w3.org/1999/xlink"
							 width="12px" height="26px">
							<path fill-rule="evenodd"
							 d="M7.587,25.683 L3.035,25.683 L3.035,12.787 L-0.001,12.787 L-0.001,9.563 L3.035,9.563 L3.031,6.330 C3.031,2.870 4.173,0.703 8.075,0.703 L11.381,0.696 L11.381,4.727 L9.325,4.726 C7.811,4.726 7.606,4.858 7.587,5.532 C7.543,6.892 7.587,9.563 7.587,9.563 L11.381,9.563 L10.622,12.787 L7.587,12.787 L7.587,25.683 Z"/>
							</svg>
    					</a>
    					<a href=""></a>
    					<a href="" class="inst">
    						<svg 
							 xmlns="http://www.w3.org/2000/svg"
							 xmlns:xlink="http://www.w3.org/1999/xlink"
							 width="25px" height="27px">
							<path fill-rule="evenodd"
							 d="M21.898,26.721 L3.288,26.721 C1.575,26.721 0.186,25.250 0.186,23.438 L0.186,3.738 C0.186,1.924 1.575,0.454 3.288,0.454 L21.898,0.454 C23.611,0.454 24.999,1.924 24.999,3.738 L24.999,23.438 C24.999,25.250 23.611,26.721 21.898,26.721 ZM12.593,8.499 C10.659,8.499 8.996,9.710 8.233,11.453 L8.228,11.453 C8.220,11.472 8.215,11.491 8.207,11.510 C8.162,11.617 8.121,11.728 8.082,11.840 C8.064,11.893 8.044,11.945 8.027,11.999 C7.992,12.113 7.963,12.230 7.935,12.347 C7.922,12.403 7.906,12.456 7.895,12.513 C7.870,12.636 7.852,12.762 7.836,12.890 C7.829,12.941 7.819,12.991 7.813,13.043 C7.795,13.222 7.785,13.403 7.785,13.587 C7.785,16.398 9.938,18.677 12.593,18.677 C15.248,18.677 17.400,16.398 17.400,13.587 C17.400,13.403 17.390,13.222 17.372,13.043 C17.367,12.991 17.357,12.941 17.350,12.890 C17.333,12.762 17.316,12.636 17.291,12.513 C17.279,12.456 17.264,12.403 17.251,12.347 C17.223,12.230 17.194,12.113 17.158,11.999 C17.141,11.945 17.122,11.893 17.103,11.840 C17.064,11.728 17.024,11.617 16.978,11.510 C16.971,11.491 16.965,11.472 16.957,11.453 L16.953,11.453 C16.190,9.710 14.527,8.499 12.593,8.499 ZM22.208,4.723 C22.208,3.997 21.653,3.410 20.967,3.410 L18.486,3.410 C17.801,3.410 17.245,3.997 17.245,4.723 L17.245,7.349 C17.245,8.075 17.801,8.662 18.486,8.662 L20.967,8.662 C21.653,8.662 22.208,8.075 22.208,7.349 L22.208,4.723 ZM22.208,11.453 L19.921,11.453 C20.097,12.134 20.192,12.849 20.192,13.587 C20.192,18.031 16.790,21.632 12.593,21.632 C8.396,21.632 4.994,18.031 4.994,13.587 C4.994,12.849 5.088,12.134 5.265,11.453 L2.977,11.453 L2.977,22.452 C2.977,23.178 3.533,23.766 4.218,23.766 L20.967,23.766 C21.653,23.766 22.208,23.178 22.208,22.452 L22.208,11.453 Z"/>
							</svg>
    					</a>
    				</div> -->
    			</b-col>
    			<b-col sm="12" md="6" class="p-l-0 p-r-0">
    				<div class="contacts_desc">
    					<a class="contacts_desc-main_number" :href="'tel:'+contacts.phone"> {{contacts.phone}}</a>
    					<p class="contacts_desc-fax"><span class="fs-19">Факс:</span> {{ contacts.fax }}</p>
    					<p class="contacts_desc-adress"><span class="fs-19">Офис:</span> {{ contacts.adress }}</p>
    					<a class="contacts_desc-mail" :href="'mailto:'+contacts.mail"> {{ contacts.mail }}</a>
    				</div>
    			</b-col>
    		</b-row>
    		<b-row>
    			<gmap-map v-bind="options" id="map">
					<gmap-marker :position="options.center"/>
				</gmap-map>
    		</b-row>
    	</b-container>
    </b-container>
</template>

<script>
	import { gmapApi } from 'vue2-google-maps';
	import jsonp from 'jsonp'
	export default{
		data(){
			return{
				options: {
			        zoom: 16,
			        center: {
			          lat: '',
			          lng: ''
		        	},
		        	mapTypeId: 'roadmap'
		        },
		        contacts: {
		        	phone: '+375 111111111',
		        	fax: '+375 111111111',
		        	adress: '220005, город Минск, улица Красная, дом 13, офис 27',
		        	mail: 'mail@voshod.ru'
		        },
		        coordinatesPlace: ''
			}
		},
		created(){
			let coordinatesPlace = this.contacts.adress.replace(/ /g, '+');
			this.$http.jsonp('https://geocode-maps.yandex.ru/1.x/?apikey=ccb01f5c-ca78-42fa-a839-daf468cdfb8b&geocode='+coordinatesPlace+'&format=json').then(function(data){
                this.coordinatesPlace = data.body.response.GeoObjectCollection.featureMember[0].GeoObject.Point.pos;
                this.options.center.lng = parseFloat(this.coordinatesPlace.split(' ')[0]);
                this.options.center.lat = parseFloat(this.coordinatesPlace.split(' ')[1]);
            });
		}
	}
</script>

<style scoped>
	.header-block_text{
	    margin: 0;
	    font-size: 90px;
	    font-weight: 700;
	    line-height: 1;
	    margin-bottom: 40px;
  	}
	#map{
	  height: 550px;
	  width: 100%;
	  margin: 0 auto;
	}
	.contacts_head-text{
		font-size: 70px;
    	font-weight: 700;
    	margin-top: 80px;
	}
	.contacts_desc{
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #282828;
		color: #fff;
		padding: 40px 60px;
	}
	.contacts_desc p{
		margin-bottom: 5px;
	}
	.contacts_desc-main_number{
		font-size: 50px;
		color: #fff;
		text-decoration: none;
		outline: none;
	}
	.fs-19{
		font-size: 19px;
	}
	.contacts_desc-mail{
		color: var(--main-color);
		text-decoration: none;
		outline: none;
	}
	.contacts_logo{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.social a+a{
		margin-left: 15px;
	}
	.social a:hover svg{
		fill: var(--main-color);
	}
	@media screen and (max-width: 1200px){
		.contacts_desc-main_number{
      		font-size: 40px;
      	}
      	.header-block_text{
	      font-size: 75px;
	    }
    }
    @media screen and (max-width: 992px){
		.contacts_head-text{
			font-size: 55px;
		}
		.contacts_desc-main_number{
      		font-size: 25px;
      		margin-bottom: 10px;
      	}
      	.contacts_desc{
      		padding: 35px;
      	}
  	}
  	@media screen and (max-width: 767px){
		.contacts_head-text{
			font-size: 40px;
		}
		.contacts_desc-main_number{
      		font-size: 40px;
      	}
      	.contacts_desc{
      		margin: 20px 0;
      	}
      	.contacts_logo img{
      		margin-bottom: 30px;
      	}
      	.header-block_text{
	      font-size: 70px;
	    }
  	}
  	@media screen and (max-width: 414px){
		.contacts_head-text{
			font-size: 35px;
		}
		.contacts_desc-main_number{
			font-size: 23px;
		}
		.header-block_text{
	      font-size: 65px;
	    }
  	}
</style>