<template>
	<b-container fluid>
		<b-container>
			<p class="copy">&copy;{{ year }} ООО &laquo;Восход Девелопмент&raquo;</p>
		</b-container>
	</b-container>
</template>

<script>
	export default{
		data(){
			return{
				year: new Date().getFullYear()
			}
		}
	}
</script>

<style scoped>
	.copy{
		font-weight: 700;
		padding: 20px;
		margin-bottom: 0;
	}
</style>