<template>
    <div>
      <div class="main-bg">
        <div class="main-layer">
            <b-container fluid>
                <b-row>
                    <div class="head">
                        <div class="logo">
                            <router-link to="/" exact tag="a">
                              <b-img :src="require('../../assets/logo_EN.png')"/>
                            </router-link>
                        </div>
                        <div class="contact_phone">
                            <div class="contact_phone-icon">
                                <a :href="'mailto:'+contacts.mail" style="line-height: 1"><i class="fa fa-envelope"></i></a>
                            </div>
                            <div class="contact_phone-phone">
                                <a :href="'tel:'+contacts.phone">{{ contacts.phone }}</a>
                                <p class="m-a-0">г. Минск</p>
                            </div>
                        </div>
                    </div>
                </b-row>
                <div class="main_text">
                    <p class="main_text-bold text-shadow" id="main_text-bold"></p>
                    <span class="main_text-with-background" id="main_text-with-background"></span>
                    <button class="orange-button" id="orange-button" v-on:click.prevent="callback=!callback">Связаться</button>
                </div>
                <div class="bottom_advantages">
                    <ul>
                        <li>создаем решения</li>
                        <li>реализуем проекты</li>
                        <li>выдерживаем дедлайны</li>
                        <li>выполняем требования ТЗ</li>
                    </ul>
                    <p id="bottom_advantages-interactive"></p>
                </div>
            </b-container>
        </div>
      </div>
      <services></services>
      <projects></projects>
      <clients></clients>
      <contacts></contacts>
      <page-footer></page-footer>


      <div class="callback-modal" v-if="callback" v-on:click="clickBackdrop">
        <div v-if="modalError" class="modal-error" v-on:click="modalError=false">Заполните все поля!</div>
        <b-container class="callback-box main-bg">
          <b-row class="bg-v-modal">
            <b-col cols="12">
              <p style="height: 35px"></p>
            </b-col>
            <b-col>
              <b-row class="modal-line">
                <label for="name">Как к Вам обращаться ?</label>
                <input type="text" id="name" name="name" v-on:focus="modalError=false" v-on:focusin="animateLabel" v-on:focusout="animateLabelRev" v-model="callbacker.name">
              </b-row>
              <b-row class="modal-line">
                <label for="email">Ваша почта или номер телефона</label>
                <input type="text" id="email" name="email" v-on:focus="modalError=false" v-on:focusin="animateLabel" v-on:focusout="animateLabelRev" v-model="callbacker.other">
              </b-row>
              <b-row>
                <button v-on:click.prevent="sendcallback" class="sendButton orange-button">Отправить</button>
              </b-row>
            </b-col>
            <a href="#" class="close_modal" v-on:click.prevent="callback=!callback" title="Закрыть окно">+</a>
          </b-row>
          
        </b-container>
      </div>
    </div>
</template>

<script>
const Services = () => import('./Services.vue')
const Projects = () => import('./Projects.vue')
const Clients = () => import('./Clients.vue')
const Contacts = () => import('./Contacts.vue')
const Footer = () => import('./Footer.vue')


export default {
  components: {
    'projects' : Projects,
    'services' : Services,
    'clients' : Clients,
    'contacts' : Contacts,
    'page-footer' : Footer
  },
  data(){
    return{
      contacts: {
        phone: '+375 111111111',
        fax: '+375 111111111',
        adress: '220005, город Минск, улица Красная, дом 13, офис 27',
        mail: 'mail@voshod.ru'
      },
      callbacker: {
        name: '',
        other: ''
      },
      callback: false,
      modalError: false
    }
  },
  mounted(){
    new TypeIt('#main_text-bold', {
      speed: 80,
      startDelay: 900
    })
    .type('VOSHOD')
    .pause(1000)
    .options({speed: 200})
    .type('<br>DEVELOPMENT')
    .go();

    new TypeIt('#main_text-with-background', {
      speed: 20,
      startDelay: 900,
      cursor: false
    })
    .pause(2500)
    .type('<span class="main-color"> Масштабируемые</span> решения&nbsp;')
    .pause(500)
    .type(' <br>&nbsp;любого уровня сложности&nbsp;')
    .pause(500)
    .type('<br>&nbsp;и&nbsp;')
    .pause(1100)
    .type('сферы применения&nbsp;')
    .go();


    new TypeIt('#bottom_advantages-interactive', {
      speed: 80,
      startDelay: 900,
      loop: true
    })
    .type('создаем решения')
    .pause(1000)
    .delete(15)
    .type('реализуем проекты')
    .pause(1000)
    .delete(17)
    .type('выдерживаем дедлайны')
    .pause(1000)
    .delete(20)
    .type('выполняем требования ТЗ')
    .pause(1000)
    .delete(23)
    .go();

    window.addEventListener('scroll', this.parallax);
  },
  methods:{
    parallax: function(){
      document.querySelector('.main-layer').style.backgroundPosition =  '0%' + '' + window.scrollY/10+'%';
      var coll = document.getElementsByClassName('project-animate');
      for(let el in coll){
        if(el>=0){
          if (coll[el].getBoundingClientRect().top <= window.innerHeight && el%2==0) {
            coll[el].style.animation = 'show 0.8s ease-in-out forwards';
          }
          else if (coll[el].getBoundingClientRect().top <= window.innerHeight && el%2!=0) {
            coll[el].style.animation = 'show-right 0.8s ease-in-out forwards';
          }
        }
      }
      var bgV = document.getElementsByClassName('bg-v');
      // console.log(bgV);
      for(let el in bgV){
        if(el>=0){
          if (bgV[el].getBoundingClientRect().top - window.innerHeight <= 0) {
            bgV[el].style.animation = 'bg ease 2s forwards';
          }
        }
      }
      // if (document.querySelector('.proj').getBoundingClientRect().top <= 0) {
        // document.querySelector('body').style.color = '#fff';
        // document.querySelector('body').style.backgroundColor = 'Chocolate';
        // console.log('yessss');
      // }
      // if(document.querySelector('.clients-bg').getBoundingClientRect().top - window.innerHeight <= 0){
      //   document.querySelector('body').style.color = '#333';
      //   document.querySelector('body').style.backgroundColor = 'transparent';
      // }
      // if (document.querySelector('.proj').getBoundingClientRect().top >= 0) {
      //   document.querySelector('body').style.color = '#333';
      //   document.querySelector('body').style.backgroundColor = 'transparent';
      // }
    },
    clickBackdrop: function(e){
      if(e.path[0].className.toLowerCase() === 'callback-modal'.toLowerCase()){
        this.callback = false;
        this.callbacker = {name: '',other: ''}
      }
    },
    sendcallback: function(e){
        if (this.callbacker.name == '' || this.callbacker.other == '') {
          this.modalError = true;
        }
        else{
          alert('Sending');
          this.callback = false;
          this.callbacker = {name: '',other: ''}
        }
    },
    animateLabel: function(e){
      e.target.previousElementSibling.style.top = 5+'px';
      e.target.previousElementSibling.style.fontSize = 12+'px';
    },
    animateLabelRev: function(e){
      if (e.target.value === '') {
        e.target.previousElementSibling.style.top = 'unset';
        e.target.previousElementSibling.style.fontSize = 16+'px';
      }
    }
  }
}


</script>
<style scoped>
  .sendButton{
    margin: 0 auto !important;
    margin-bottom: 30px !important;
    margin-top: 40px !important;
  }
  .bg-v-modal{
    background-size: 100px;
    background-position: 100% -20%;
    animation: bg-modal 0.5s ease forwards;
  }
  .modal-line{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 20px 20px 0px;
    position: relative;
  }
  .modal-line label{
    font-weight: 300;
    margin-bottom: 0;
    position: absolute;
    transition: all 0.3s ease;
  }
  .modal-line input{
    border: none;
    border-bottom: 2px solid #333;
    width: 100%;
    padding: 3px 8px;
    background: transparent;
    outline: none;
    border-radius: 0px;
  }
  .modal-error{
    position: absolute;
    right: 10px;
    top: 20px;
    padding: 15px;
    background-color: OrangeRed;
    color: #fff;
    border-radius: 6px;
  }
  .close_modal{
    position: absolute;
    right: 8px;
    top: 0;
    text-decoration: none !important;
    outline: none !important;
    transform: rotate(45deg);
    color: #000;
    font-size: 30px;
  }
  .callback-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    min-width: 300px;
    max-width: 40%;
    height: auto;
    background-size: unset;
    box-shadow: 0 0 20px 3px #000;
    border-radius: 5px;
  }
  .callback-modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  #bottom_advantages-interactive{
    display: none;
  }
  .head{
    width: 100%;
    padding: 0 220px;
    display: flex;
    justify-content: space-between;
  }
  .contact_phone{
    padding: 10px 40px;
    background: #ececf3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
  }
  .m-a-0{
    margin: 0;
  }
  .contact_phone-phone{
    padding-left: 10px;
  }
  .contact_phone-icon{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #ff5b11;
    border-radius: 50%;
  }
  .contact_phone-icon a{
    color: #fff;
    text-decoration: none !important;
  }
  .contact_phone-icon i{
    font-size: 25px;
  }
  .contact_phone-phone a{
    --text-color: #333;
    --shine-color: #fff;
    --shine-deg: 90deg;
    font-weight: 700;
    border-bottom: 2px solid #333;
    font-size: 20px;
    text-decoration: none !important;
    line-height: 1;
    background: linear-gradient(var(--shine-deg), var(--text-color) 20%, var(--text-color) 40%, var(--text-color) 60%, var(--text-color) 80%);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .contact_phone-phone a:hover{
    animation: shine 0.5s linear infinite;
  }
  .contact_phone-phone p{
    color: #ff5b11;
    font-weight: 700;
    font-size: 16px;
  }
  .main_text{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .main_text-bold{
    font-size: 90px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1;
    margin-bottom: 20px;
  }
  .ti-container{
    vertical-align: middle !important;
    line-height: 1;
  }
  .main_text-with-background{
    color: #fff;
    background-color: #000;
    width: max-content;
  }
  .orange-button{
    color: #fff;
    background-color: var(--main-color);
    padding: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    outline: none;
    border: none;
    margin-top: 35px;
    min-width: 150px;
    font-weight: 600;
  }
  .bottom_advantages{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .bottom_advantages ul{
    padding: 0;
    list-style-type: none;
    display: flex;
  }
  .bottom_advantages ul > li{
    position: relative;
    color: #86868e;
  }
  .bottom_advantages ul > li + li{
    margin-left: 25px; 
  }
  .bottom_advantages ul > li + li::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    transform: rotate(-65deg);
    left: -20px;
    top: 50%;
    background-color: #86868e;
  }
  .logo{
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 1200px){
    .head{
      position: fixed;
      top: 0;
      z-index: 999;
      background-color: #ececf3;
      padding: 0 80px;
    }
    .main_text{
      width: 75%;
    }
    .contact_phone{
      padding: 10px 0;
    }
    .main_text-with-background{
      font-size: 20px;
    }
  }
    @media screen and (max-width: 992px){
      .main_text-bold{
        font-size: 73px;
      }
    }
    @media screen and (max-width: 767px){
      .main_text-bold{
        font-size: 55px;
      }
      .bottom_advantages ul{
        display: none;
      }
      #bottom_advantages-interactive{
        display: block;
      }
      .head{
        padding: 0 15px; 
      }
    }
    @media screen and (max-width: 576px){
      .main_text-bold{
        font-size: 40px;
      }
      .main-layer{
        background-size: 100%;
      }
      .main_text-with-background{
        font-size: 16px;
      }
    }
     @media screen and (max-width: 470px){
      .contact_phone{
        display: none;
      }
      .logo img{
        margin: 5px 0;
        width: 130px;
        margin-left: -15px;
      }
      .head{
        position: static;
        background-color: transparent;
        justify-content: center;
      }
    }
    @media screen and (max-width: 414px){
      .main_text-bold{
        font-size: 35px;
      }
    }
</style>
