<template>
  <b-container class="bg-v proj">
    <b-row style="padding-top: 75px;">
      <b-col sm="12" lg="4" class="header-block">
        <p class="header-block_text text-shadow"><span class="main-color">P</span>rojects</p>
      </b-col>
      <b-col sm="12" lg="8">
        <b-row>
          <b-col sm="12" md="5" lg="7">
            <p class="header-block_second-text">
              <span class="main-color">Компетенции</span> сотрудников компании сосредоточены в области производства ПО для сегментов B2B и B2C, создании информационных вэб-ресурсов, и разработке решений сферы e-commerce.
            </p>
          </b-col>
          <b-col lg="5" class="with_number">
            <p class="header-block_numbers">
                120
            </p>
            <span class="header-block_numbers-text">реализованных<br> проектов</span>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row class="projects-box">
      <b-col>
        <b-row v-for="(project, index) in projects" class="project-animate" :key="index">
          <b-col sm="12" md="6" v-if="index%2 == 0" class="p-r-0" style="order: 0">
            <b-img style="width: 100%" :src="require('../../assets/'+project.image)"/>
          </b-col>
          <b-col sm="12" md="6" :class="{ 'p-l-0' : index%2 == 0, 'p-r-0 sm-order-1' : index%2 != 0 }">
            <div class="project">
              <p class="project_title">
                  {{ project.title }}
              </p>
              <p class="project_content">
                  {{ project.content }}
              </p>
              <div class="project-client" v-if="project.clientLogo">
                <span class="client">Заказчик</span>
                <b-img :src="require('../../assets/'+project.clientLogo)"/>
              </div>
              <div class="project_tech">
                <b-row>
                  <b-col v-for="(tech,index) in project.technologies" :key="index">
                    <div class="project_tech-part">
                      <div class="tech_part-icon">
                        <i :class="'fab '+tech.icon"></i>
                      </div>
                      <!-- <b-img :src="require('../../assets/logo.png')"/> -->
                      <p class="tech_part-text">{{ tech.name }}</p>
                    </div>
                  </b-col>
                </b-row>
              </div>
            </div>
          </b-col>
          <b-col v-if="index%2 != 0" class="p-l-0">
            <b-img style="width: 100%" :src="require('../../assets/'+project.image)"/>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>

export default {
  data(){
    return{
      projects:[
      {
        image: 'projectPhoto.png',
        title: 'Название проекта',
        content: 'Компетенции сотрудников компании сосредоточены в области производства ПО для сегментов B2B и B2C, создании информационных вэб-ресурсов, и разработке решений сферы e-commerce.',
        clientLogo: 'client_tut.png',
        technologies: {
          key_2: {
            name: 'HTML5',
            icon: 'fa-html5'
          },
          key_6: {
            name: 'JS',
            icon: 'fa-js'
          },
          key_7: {
            name: 'Vue',
            icon: 'fa-vuejs'
          },
          key_5:{
            name: 'Laravel',
            icon: 'fa-laravel'
          }
        }
      },
      {
        image: 'projectPhoto.png',
        title: 'Название проекта',
        content: 'Компетенции сотрудников компании сосредоточены в области производства ПО для сегментов B2B и B2C, создании информационных вэб-ресурсов, и разработке решений сферы e-commerce.',
        clientLogo: 'client_tut.png',
        technologies: {
          key_2: {
            name: 'HTML5',
            icon: 'fa-html5'
          },
          key_6: {
            name: 'JS',
            icon: 'fa-js'
          },
          key_7: {
            name: 'Vue',
            icon: 'fa-vuejs'
          },
          key_5:{
            name: 'Laravel',
            icon: 'fa-laravel'
          }
        }
      },
      {
        image: 'projectPhoto.png',
        title: 'Название проекта',
        content: 'Компетенции сотрудников компании сосредоточены в области производства ПО для сегментов B2B и B2C, создании информационных вэб-ресурсов, и разработке решений сферы e-commerce.',
        clientLogo: 'client_tut.png',
        technologies: {
          key_2: {
            name: 'HTML5',
            icon: 'fa-html5'
          },
          key_6: {
            name: 'JS',
            icon: 'fa-js'
          },
          key_7: {
            name: 'Vue',
            icon: 'fa-vuejs'
          },
          key_5:{
            name: 'Laravel',
            icon: 'fa-laravel'
          }
        }
      },
      {
        image: 'projectPhoto.png',
        title: 'Название проекта',
        content: 'Компетенции сотрудников компании сосредоточены в области производства ПО для сегментов B2B и B2C, создании информационных вэб-ресурсов, и разработке решений сферы e-commerce.',
        clientLogo: 'client_tut.png',
        technologies: {
          key_2: {
            name: 'HTML5',
            icon: 'fa-html5'
          },
          key_6: {
            name: 'JS',
            icon: 'fa-js'
          },
          key_7: {
            name: 'Vue',
            icon: 'fa-vuejs'
          },
          key_5:{
            name: 'Laravel',
            icon: 'fa-laravel'
          }
        }
      }
      ]
    }
  }
}


</script>
<style scoped>
  .with_number{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .bg-v{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header-block_text{
    margin: 0;
    font-size: 90px;
    font-weight: 700;
    line-height: 1;
  }
  .header-block_second-text{
    margin-top: 25px;
  }
  .header-block_numbers{
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    line-height: 1;
  }
  .header-block_numbers-text{
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
  }
  .project{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;*/
    padding: 40px 80px;
  }
  .project_title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .project_title::first-letter{
    color: var(--main-color);
  }
  .project_content{
    font-weight: 600;
    margin-bottom: 0;
  }
  .project-client span{
    font-weight: 700;
    margin-right: 25px;
    color: #8a959e;
  }
  .project-client{
    margin-top: 15px;
  }
  .projects-box{
    margin-top: 100px;
  }
  .project_tech-part{
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
  }
  .tech_part-icon{
    font-size: 45px;
    display: flex;
    align-items: center;
    height: 60%;
    color: #8a959e;
  }
  .tech_part-text{
    font-size: 22px;
    margin-bottom: 0;
    display: flex;
    align-items: flex-start;
    height: 40%;
    color: #8a959e;
  }
  .project_tech-part{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    margin-top: 50px;
  }
  @media screen and (max-width: 1200px){
    .project{
      padding: 10px 40px;
    }
    .project_tech-part{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .header-block_text{
      font-size: 75px;
    }
  }
  @media screen and (max-width: 992px){
    .with_number{
      position: absolute;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      right: 70px;
      top: -70px;
    }
    .project{
      padding: 0px 20px;
    }
    .project_title{
      margin-top: 10px;
      font-size: 28px;
    }
    .project_content{
      font-size: 14px;
    }
    .project_tech-part{
      padding: 0;
    }
    .tech_part-text{
      font-size: 16px;
    }
    .tech_part-icon{
      font-size: 30px;
    }
    .projects-box{
      margin-top: 50px;
    }
  }
  @media screen and (max-width: 767px){
    .header-block_text{
      font-size: 70px;
    }
    .header-block_second-text{
      margin-top: 100px;
    }
    .sm-order-1{
      order: 1;
    }
    .p-r-0{
      padding-right: 15px !important;
    }
    .p-l-0{
      padding-left: 15px !important;
    }
    .project-animate{
      margin-bottom: 60px;
    }
  }
  @media screen and (max-width: 576px){
    /*.header-block_text{
      margin-top: 100px;
    }*/
    .with_number{
      display: none;
    }
  }
   @media screen and (max-width: 414px){
    .project_title[data-v-f7e66ebc]{
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
  
</style>
