<template>
    <b-container fluid class="bg-grey">
      <b-container>
        <b-row style="padding-top: 40px;">
          <b-col class="header-block">
            <p class="header-block_text text-shadow"><span class="main-color">S</span>ervices</p>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="12" md="5">
            <p class="header-block_second-text">
              <span class="main-color">Компетенции</span> сотрудников компании сосредоточены в области производства ПО для сегментов B2B и B2C, создании информационных вэб-ресурсов, и разработке решений сферы e-commerce.
            </p>
          </b-col>
      </b-row>
      <b-row>
        <b-col v-for="tech in technologies">
          <div class="tech_part">
            <div class="tech_part-icon">
              <i :class="'fab '+tech.icon"></i>
            </div>
            <!-- <b-img :src="require('../../assets/logo.png')"/> -->
            <p class="tech_part-text">{{ tech.name }}</p>
          </div>
        </b-col>
      </b-row>
      </b-container>
    </b-container>
</template>

<script>

export default {
  data(){
    return{
      technologies: {
        key_2: {
          name: 'HTML5',
          icon: 'fa-html5'
        },
        key_1: {
          name: 'CSS3',
          icon: 'fa-css3'
        },
        key_6: {
          name: 'JS',
          icon: 'fa-js'
        },
        key_7: {
          name: 'Vue.js',
          icon: 'fa-vuejs'
        },
        key_5:{
          name: 'Laravel',
          icon: 'fa-laravel'
        }
      }
    }
  }
}


</script>
<style scoped>
  .bg-grey{
    background-color: #dcdce7;
  }
  .header-block_text{
    margin: 0;
    margin-bottom: 20px;
    font-size: 90px;
    font-weight: 700;
    line-height: 1;
  }
  .header-block_second-text{
    margin-bottom: 80px;
  }
  .tech_part{
    margin-bottom: 90px;
    background: #fff;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .tech_part-icon{
    font-size: 45px;
    display: flex;
    align-items: center;
    height: 60%;
    color: #8a959e;
  }
  .tech_part-text{
    font-size: 22px;
    margin-bottom: 0;
    display: flex;
    align-items: flex-start;
    height: 40%;
    color: #8a959e;
  }
  @media screen and (max-width: 1200px){
    .header-block_text{
      font-size: 75px;
    }
  }
  @media screen and (max-width: 992px){
    .tech_part{
      height: 120px;
    }
  }
  @media screen and (max-width: 767px){
    .tech_part{
      height: 100px;
      margin-bottom: 60px;
    }
    .tech_part-text{
      font-size: 18px;
    }
    .header-block_second-text{
      margin-bottom: 60px;
    }
    .header-block_text{
      font-size: 70px;
    }
  }
</style>
