<template>
    <div>
        <!-- <transition name="fade" mode=""> -->
            <router-view></router-view>
        <!-- </transition> -->
    </div>
</template>


<script>

    export default {
        
    }
</script>


<style>
    
</style>
